body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: hidden;
  height: 100vh;
}

input {
  height: 25px;
  margin: 0 2px 0 2px;
}

label {
  font-size: large;
  margin: 0 2px 0 2px;
}

.header {
  box-sizing: border-box;
  height: 60px;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px;
  font-size: 18px;
  color: gray;
  background-color: ghostwhite;
}

.button__group {
  box-sizing: border-box;
  height: 40px;
  display: flex;
  padding: 0;
  justify-content: center;
}

.button__item {
  display: inline;
  padding: 15px 30px;
  margin: 0px 14px;
  text-align: center;
  outline: 0;
  border: 0;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  background-color: gray;
  color: ghostwhite;
}

.main {
  height: 750px;
  width: 500px;
  margin: auto;
  background-color: ghostwhite;
  border-radius: 20px;
  overflow: scroll;
}

.memo {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px;
  width: 450px;
  height: 150px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
}

.memo__delete_button {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 50%;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: grey;
}

.memo__delete_button:hover {
  color: rgb(175, 175, 175);
}

.memo__title {
  font-size: 20px;
  color: rgb(175, 175, 175);
  flex: 1;
  padding: 20px 0 0 20px;
}

.memo__content {
  color: rgba(30, 26, 26);
  font-size: 20px;
  flex: 2;
  padding: 0 0 0 20px;
}

.footer {
  position: relative;
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  color: gray;
  background-color: ghostwhite;
}

.footer__content {
  display: flex;
  align-items: center;
}

.popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.popup__box {
  width: 500px;
  height: 200px;
  border-radius: 20px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.popup__x {
  position: relative;
  left: 465px;
  width: 28px;
  height: 28px;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: whitesmoke;
  color: grey;
}

.popup__x:hover {
  color: rgb(175, 175, 175);
}

.popup__box__url,
.popup__box__content,
.popup__box__input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.popup__box__url {
  display: none;
}

.popup__box__content {
  display: none;
}

.popup__box__content__input {
  height: 50px;
  resize: none;
  margin: 0 3px 0 3px;
}

.popup__add {
  position: relative;
  left: 410px;
  width: 80px;
  height: 40px;
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 0 0 5px 0;
  border-radius: 10px;
  background-color: whitesmoke;
  color: grey;
}

.popup__add:hover {
  color: rgb(175, 175, 175);
}
