:root {
  --bg-accent-color: #2d2d2d;
  --shadow-color: #202020;
}

li {
  list-style: none;
  padding-left: 0;
}

button {
  border: 0;
  outline: 0;
}

* {
  outline: 0;
  box-sizing: border-box;
}

input,
textarea {
  resize: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-y: hidden;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

input {
  height: 25px;
  margin: 0 2px 0 2px;
}

label {
  font-size: large;
  margin: 0 2px 0 2px;
}

/* banner */

.banner {
  height: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: gray;
  background-color: ghostwhite;
}

.banner__title {
  font-size: 16px;
  margin: auto;
}

/* button */

.control-panel {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog__submit,
.create-button {
  padding: 15px 30px;
  margin: 0px 14px;
  text-align: center;
  font-weight: bold;
  outline: 0;
  border: 0;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  background-color: rgb(163, 163, 163);
  color: ghostwhite;
}

.create-button:hover {
  color: rgba(22, 33, 241, 0.786);
}

.document {
  height: 750px;
  width: 500px;
  margin: auto;
  background-color: ghostwhite;
  border-radius: 20px;
  scrollbar-color: var(--bg-accent-color);
  overflow-y: auto;
}

.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--bg-accent-color);
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--accent-color);
}

.memo {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px;
  width: 450px;
  height: 150px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: white;
}

.memo__delete_button {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 50%;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: white;
  color: grey;
}

.memo__delete_button:hover {
  color: rgb(175, 175, 175);
}

.memo__title {
  font-size: 20px;
  color: rgb(175, 175, 175);
  flex: 1;
  padding: 20px 0 0 20px;
}

.memo__content {
  color: rgba(30, 26, 26);
  font-size: 20px;
  flex: 2;
  padding: 0 0 0 20px;
}

.footer {
  position: relative;
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  color: gray;
  background-color: ghostwhite;
}

.footer__content {
  display: flex;
  align-items: center;
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  border: 0;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  padding: 0.4em;
  width: 32em;
  background: whitesmoke;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 20px var(--shadow-color);
}

.form__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.close {
  align-self: flex-end;
  padding: 0.2rem;
  color: grey;
  font-size: 28px;
  font-weight: bold;
  margin: 3px;
  transition: color 250ms ease;
  background-color: whitesmoke;
}

.close:hover,
.close:focus {
  transform: scale(1.1);
  color: var(--shadow-color);
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.dialog__submit {
  align-self: flex-end;
  padding: 0.5em 1.5em;
}

.dialog__submit:hover,
.dialog__submit:focus {
  transform: scale(1.1);
  color: var(--shadow-color);
  text-decoration: none;
  cursor: pointer;
}
